#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
html{
    margin: auto;
    width: 75%
}
h2{
    margin:0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #E9EBF8;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-align: center;
    text-decoration: none;
    padding:35px;
    margin: 0px 0.2%;
    font-size:18px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color:#E9EBF8;
    font-size:45px;
    text-shadow: 3px 2px#3F7CAC;
}
#hero-msg h4{
    margin-top:0;
    font-size:32px;
}
#hero-msg h1{
    margin-bottom:5px;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.home-grid{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 3fr 1fr 1fr 1fr;
}
#background{
    height: 100%;
    background-color: #3F7CAC;
    border: 3px solid #E9EBF8;
    grid-column:1/-1;
    grid-row:3/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
}
.mountains{
    grid-row:2/-2;
    grid-column: 2/9;
    width:100%;
    height:100%;
    box-shadow: 5px 5px 10px #E9EBF8;
}
.msg{
    grid-row: 3/4;
    grid-column: 7/12;
    background-color: #E2F89C;
    margin-bottom: 50px;
    font-family: Merriweather;
    line-height: 1.5em;
    padding:35px;
    box-shadow: 5px 5px 10px #E9EBF8;
}
body{
    background-color: #3F7CAC;
    margin:0;
    padding:0;
}
header{
    background-color: #E2F89C;
    display:grid;
    grid-template-columns: 1fr 4fr;
}
nav a:hover{
    background-color: #3F7CAC;
}
.book, .join{
    background-color: #3F7CAC;
    text-decoration: none;
    padding: 15px 30px;
    margin-top:50px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px #E9EBF8;
}
.book:hover, .join:hover{
    background-color: #E2F89C;
}
.book{
    color: #E9EBF8;
}
.book:hover{
    color:#3F7CAC;
}
footer{
    background-color: #E2F89C;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:25px 50px;
    margin-top:200px;
}
footer .social img{
    padding-top:15px;
}
.logo{
    width:80px;
    margin: 15px;
}
#logo-link{
    padding-top: 5px;
}
#hero-img{
    width:100%;
}
footer a{
    text-decoration: none;
}
footer h3:hover{
    text-decoration: underline;
}
.rivers-card{
    grid-column:2/5;
    grid-row:2/3;
}
.camping-card{
    grid-column:6/9;
    grid-row:2/3;
}
.rapids-card{
    grid-column:10/13;
    grid-row:2/3;
}
.card-img{
    max-width:100%;
    border: 10px solid #E2F89C;
}
.card-img:hover{
    box-shadow: 5px 5px 10px #3F7CAC;
}
.home-title{
    font-family: Merriweather;
    font-size: 2em;
    margin-top: 10px;;
}
.icon{
    padding-top:10px;
    width:33%
}
.msg p{
    padding-bottom:15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
#hero{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#hero-box{
    grid-column:1/-1;
    grid-row:1/-1;
}
#hero-msg{
    grid-column: 2/-2;
    grid-row:1/2;
    margin-top:10%
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}