@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
html{
    margin: auto;
    width: 50%
}
h2{
    margin:0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #E9EBF8;
}
nav a{
    text-align: center;
    text-decoration: none;
    padding:35px;
    font-size:18px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color:#E9EBF8;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.home-grid{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 4fr 1fr 1fr 1fr;
}
#background{
    height: 525px;
    background-color: #3F7CAC;
    border: 3px solid #E9EBF8;
    grid-column:1/-1;
    grid-row:3/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
}
.mountains{
    grid-row:2/-2;
    grid-column: 2/9;
    width:100%;
    height:100%;
    box-shadow: 5px 5px 10px #E9EBF8;
}
.msg{
    grid-row: 3/4;
    grid-column: 7/12;
    background-color: #E2F89C;
    margin-bottom: 50px;
    font-family: Merriweather;
    line-height: 1.5em;
    padding:35px;
    box-shadow: 5px 5px 10px #E9EBF8;
}
body{
    background-color: #3F7CAC;
    margin:0;
    padding:0;
}
header{
    background-color: #E2F89C;
    display:grid;
    grid-template-columns: 1fr 3fr;
}
nav a:hover{
    background-color: #E2F89C;
    border: 1px solid black;
}
.book, .join{
    background-color: #3F7CAC;
    text-decoration: none;
    padding: 15px 30px;
    margin-top:50px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px #E9EBF8;
}
.book:hover, .join:hover{
    background-color: #E2F89C;
}
footer{
    background-color: #E2F89C;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:25px 50px;
    margin-top:200px;
}
footer .social img{
    padding-top:15px;
}
.logo{
    width:80px
}
#logo-link{
    padding-top: 5px;
}
#hero-img{
    width:100%;
}
footer a{
    text-decoration: none;
}
footer h3:hover{
    text-decoration: underline;
}
.rivers-card{
    grid-column:2/5;
    grid-row:2/3;
}
.camping-card{
    grid-column:6/9;
    grid-row:2/3;
}
.rapids-card{
    grid-column:10/13;
    grid-row:2/3;
}
.card-img{
    max-width:100%;
    border: 10px solid #E2F89C;
}
.card-img:hover{
    box-shadow: 5px 5px 10px #3F7CAC;
}
.home-title{
    font-family: Merriweather;
    font-size: 2em;
    margin-top: 10px;;
}
.icon{
    padding-top:10px;
    width:33%
}
.msg p{
    padding-bottom:15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
#hero{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#hero-box{
    grid-column:1/-1;
    grid-row:1/-1;
}
#hero-msg{
    grid-column: 2/-2;
    grid-row:1/2;
    margin-top:10%
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}