html{
    margin: auto;
    width: 50%
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #E9EBF8;
}
nav a{
    text-align: center;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #3F7CAC;
    border: 3px solid #E9EBF8;
}
body{
    background-color: #3F7CAC;
}
header{
    background-color: #E2F89C;
}
nav a:hover{
    background-color: #E2F89C;
}
.book, .join{
    background-color: #3F7CAC;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: #E2F89C;
}
.msg {
    background-color: #E2F89C;
    margin-bottom: 50px
}
footer{
    background-color: #E2F89C;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.logo{
    width:80px
}
#hero-img{
    width:100%;
}
footer a{
    text-decoration: none;
}
footer h3:hover{
    text-decoration: underline;
}
#grid{
    display:grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}
.card-img{
    max-width:100%;
}