@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
html{
    margin: auto;
    width: 50%
}
h2{
    margin:0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #E9EBF8;
}
nav a{
    text-align: center;
    text-decoration: none;
    padding:35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: #3F7CAC;
    border: 3px solid #E9EBF8;
}
body{
    background-color: #3F7CAC;
    margin:0;
    padding:0;
}
header{
    background-color: #E2F89C;
}
nav a:hover{
    background-color: #E2F89C;
}
.book, .join{
    background-color: #3F7CAC;
    text-decoration: none;
    padding: 15px 30px;
    margin-top:50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #E2F89C;
}
.msg {
    background-color: #E2F89C;
    margin-bottom: 50px;
    font-family: Merriweather;
    line-height: 1.5em;
    padding:35px;
}
footer{
    background-color: #E2F89C;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:25px 50px;
    margin-top:200px;
}
footer .social img{
    padding-top:15px;
}
.logo{
    width:80px
}
#logo-link{
    padding-top: 5px;
}
#hero-img{
    width:100%;
}
footer a{
    text-decoration: none;
}
footer h3:hover{
    text-decoration: underline;
}
#grid{
    display:grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}
.card-img{
    max-width:100%;
    border: 10px solid #E2F89C;
}
.home-title{
    font-family: Merriweather;
    font-size: 2em;
    margin-top: 10px;;
}
.icon{
    padding-top:10px;
}
.msg p{
    padding-bottom:15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}