@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
html{
    margin:auto;
    width:75%;
}
body{
    margin:0 auto;
    background-color: #FF8C00;
}
header{
    background-color:#2B2C28;
    padding:15px 0px;
    display:grid;
    grid-template-columns: 1fr 3fr;
}
header img{
    width:15%;
    margin: 0 auto;
    padding-top:5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    padding:35px;
    color:#FF8C00;
}
nav a:hover{
    background-color:#FF8C00;
    color:#2B2C28;
}
footer{
    background-color: #2B2C28;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:25px 50px;
    color: #FF8C00;
}
footer a{
    color: #FF8C00;
}
footer .social img{
    padding-top:15px;
    background-color: #2B2C28;
    width:75px;
}
img{
    width:50%;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #E9EBF8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#content p{
    grid-column: 7/11;
    grid-row: 2/4;
    background-color: #2B2C28;
    color:#FF8C00
}
#banner{
    grid-column:2/12;
    grid-row:1/2;
    width:100%;
    background-color: #FF8C00;
    height:40%;
    font-family: Fruktur;
    font-size:64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#img1{
    grid-column: 2/6;
    grid-row:2/4;
}
#img1 p{
    background-color: #FF8C00;
    color:#2B2C28;
    line-height: 1.5em;
    font-size: 14;
    font-weight: 300;
}
#text_box{
    font-size:18px;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#text_box b{
    font-size: 36px;
}
#links{
    grid-column: 3/5;
    grid-row:4/6;
    background-color:#2B2C28;
    color:#FF8C00;
    width:100%;
    height:50%;
    margin:auto;
    margin-top:15%;
    align-self: center;
    line-height: 1.5em;
    font-size: 24px;
}
#links a{
    color:#FF8C00;
}
#img2{
    grid-column: 7/11;
    grid-row:4/6;
}
#img2 p{
    background-color: #FF8C00;
    color:#2B2C28;
}
