@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
html{
    margin:auto;
    width:75%;
}
body{
    margin:0 auto;
    background-color: #FF8C00;
}
header{
    background-color:#2B2C28;
    display:grid;
    grid-template-columns: 1fr 3fr;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    padding:35px;
    color:#FF8C00;
}
nav a:hover{
    background-color:#FF8C00;
    color:#2B2C28;
}
footer{
    background-color: #2B2C28;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:25px 50px;
    margin-top:200px;
    color: #FF8C00;
}
footer a{
    color: #FF8C00;
}
footer .social img{
    padding-top:15px;
    background-color: #2B2C28;
}
.blog {
    background-color:silver;
    margin:4px;
    border:2px solid #131515;
    border-radius:10px;
    padding:4px;
}
.blog h3{
    text-align: left;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #E9EBF8;
}
#big-grid{

}
