@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
html{
    margin:auto;
    width:75%;
}
body{
    margin:0 auto;
    background-color: #FF8C00;
}
main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 1fr 1fr 1fr 1fr 1fr 50px ;
    gap:15px;
}
header{
    background-color:#2B2C28;
    display:grid;
    grid-template-columns: 1fr 3fr;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    padding:35px;
    color:#FF8C00;
}
nav a:hover{
    background-color:#FF8C00;
    color:#2B2C28;
}
p{
    line-height: 1.8em;
}
footer{
    background-color: #2B2C28;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:25px 50px;
    margin-top:200px;
    color: #FF8C00;
}
footer a{
    color: #FF8C00;
}
footer .social img{
    padding-top:15px;
    background-color: #2B2C28;
}
.image{
    min-width:150px;
    width:100%;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #E9EBF8;
}
#banner{
    grid-row:2/3;
    grid-column:2/-3;
    font-size:48px;
    background-color:#FF8C00;
    color:#2B2C28;
    padding:20px 0px;
    font-family: Fruktur;

}
#big-box{
    margin:0;
    grid-column:9/-1;
    grid-row:2/-2;
    background-color: #2B2C28;
    color:#FF8C00;
    margin-top:32px;
    font-size:24px;
}
#big-box img{
    margin-bottom:0;
}
#ryan{
    grid-column:2/5;
    grid-row:3/6;
}
#textbox{
    grid-column:5/9;
    grid-row:3/5;
    background-color: #2B2C28;
    color:#FF8C00;
    height:76%;
}
#join{
    grid-row:5/7;
    grid-column:2/4;
    background-color:#FF8C00;
}
#comment{
    grid-row:5/7;
    grid-column:4/9;
    background-color:#FF8C00;
    color:#2B2C28;
}
#comment textarea{
    width:99%;
    height:81%;
}
#user{
    width:90%;
    margin-bottom:15px;
    margin-top:10px;
}
#password{
    width:90%;

}
#join h3{
    color:#2B2C28;
}
#login{
    margin-top:15px;
    background-color: #2B2C28;
    color:#FF8C00;
}
#sorry{
    display:none;
    z-index:1;
    position:absolute;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 75%;
    height: 35%;
}
#sorry button{
    background-color: #2B2C28;
    color:#FF8C00;
}